.App {
  color: black !important;
  /*background-color:rgb(54, 58, 66);*/

}
.appBar {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
