.App {
  color: black !important;


}
.appBar {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
}
.rightCard{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-color:black;
    background-color:black;
    margin-top:40px;

}
.leftCard{
    display: flex;
    padding:10px;
    flex-direction: column;
    border-radius: 15px;
    border-color:black;
    /*height: 100%;*/
    margin-top:40px;

}
